Temp/UnityLockfile
.vs/Planet/v15/Server/sqlite3/storage.ide-shm
.vs/Planet/v15/Server/sqlite3/storage.ide-wal
.vs/Planet/v15/Server/sqlite3/db.lock
.vs/Planet/v15/Server/sqlite3/storage.ide
Library/shadercompiler-UnityShaderCompiler.exe0.log
Temp/UnityTempFile-75d6eff7bc7cb1d48adbd70831727fbf
Library/metadata/82/82b20e2152de4ae4e8aa20fd9261a39d.info
Library/metadata/76/76e643874e975e5449665c82e7c0ded7
Library/assetDatabase3
Assets/Plugins/GitHub.meta
Library/metadata/d9/d9c2009894ebec143aa0e1f8e157b1de
Library/metadata/76/76e643874e975e5449665c82e7c0ded7.info
Library/metadata/18/18e096a98c2704c40a818dd1214cd179
Assets/Plugins/GitHub/Editor/x64.meta
Assets/Plugins.meta
Library/metadata/d9/d9c2009894ebec143aa0e1f8e157b1de.info
Library/metadata/82/82b20e2152de4ae4e8aa20fd9261a39d
Library/metadata/18/18e096a98c2704c40a818dd1214cd179.info
Assets/Plugins/GitHub/Editor.meta
