Temp/UnityLockfile
.vs/Planet/v15/Server/sqlite3/storage.ide-shm
.vs/Planet/v15/Server/sqlite3/storage.ide-wal
.vs/Planet/v15/Server/sqlite3/db.lock
.vs/Planet/v15/Server/sqlite3/storage.ide
Library/shadercompiler-UnityShaderCompiler.exe0.log
