Temp/UnityLockfile
Temp/UnityVS_obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Library/metadata/d9/d9c2009894ebec143aa0e1f8e157b1de
Library/metadata/76/76e643874e975e5449665c82e7c0ded7.info
.vs/Planet/v15/Server/sqlite3/storage.ide-wal
.vs/Planet/v15/Server/sqlite3/storage.ide-shm
.vs/Planet/v15/.suo
Library/metadata/d9/d9c2009894ebec143aa0e1f8e157b1de.info
Library/metadata/82/82b20e2152de4ae4e8aa20fd9261a39d
.vs/Planet/v15/Server/sqlite3/storage.ide
Library/metadata/82/82b20e2152de4ae4e8aa20fd9261a39d.info
.vs/Planet/v15/Server/sqlite3/db.lock
Temp/UnityVS_obj/Debug/Planet.csproj.CoreCompileInputs.cache
Library/metadata/76/76e643874e975e5449665c82e7c0ded7
Temp/UnityTempFile-75d6eff7bc7cb1d48adbd70831727fbf
